$base            : #F7F6F0;
$darken          : darken(#F7F6F0 , 30%);
$back            : darken(#F7F6F0, 40%);
$white           : #FFFFFF;
$mine-shaft      : #333333;
$dusty-gray      : #999999;
$governor-bay    : #3333CC;
$cyan            : #00FFFF;
$pickled-bluewood: #334455;
$malachite       : #11CC11;
$magenta         : #FF00FF;
